<div style="margin-top: 50px;" class="container d-flex flex-column align-items-center">
  <h3 class="mb-4">Информационная страница</h3>
  <div style="margin-bottom: 150px; text-indent: 45px;">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti magnam doloribus eaque amet consectetur
      nostrum neque fugit delectus odit porro aspernatur, error nemo, dignissimos recusandae libero possimus beatae
      nobis rerum! Assumenda eligendi excepturi consectetur qui minima earum. Sit qui aliquam veniam tenetur obcaecati
      iusto corrupti, molestias aut quibusdam non, consequatur neque doloribus repudiandae vero soluta odit beatae quo
      voluptate. Incidunt dolorum modi nisi odio quia doloremque officia tempora aperiam deleniti provident officiis,
      optio dolore voluptatibus, ad quo voluptatem sunt blanditiis suscipit. Eos voluptatibus, impedit a accusantium
      itaque magnam illo fugit ducimus alias iure distinctio dolores velit repellendus, quas nisi quibusdam, possimus
      quis. Quidem porro nemo adipisci debitis quas iure reiciendis fugit facilis magni, expedita libero odit et amet
      at. Temporibus nesciunt beatae odio atque hic, explicabo eligendi magnam iure vel odit, animi ducimus quae,
      molestias laboriosam numquam commodi illo cupiditate aspernatur. Commodi a, eaque quibusdam aliquid accusamus
      aliquam. Nisi accusantium possimus nobis deserunt minima, culpa explicabo, temporibus facilis ab, neque omnis!
      Consectetur ducimus sequi, ipsa voluptatem repudiandae quasi nulla suscipit nemo porro eaque fugit quibusdam,
      corrupti dolore eum ab est ad. Cupiditate eaque voluptate, quos dicta deserunt iusto nostrum, dolor vitae sapiente
      reprehenderit odio. Illo in dolores, eveniet iusto molestias eaque! Ea odio tempore delectus vitae ipsum animi
      fugiat mollitia hic expedita sed laboriosam quaerat ad ullam nulla molestias, nemo earum deleniti!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti magnam doloribus eaque amet consectetur
      nostrum neque fugit delectus odit porro aspernatur, error nemo, dignissimos recusandae libero possimus beatae
      nobis rerum! Assumenda eligendi excepturi consectetur qui minima earum. Sit qui aliquam veniam tenetur obcaecati
      iusto corrupti, molestias aut quibusdam non, consequatur neque doloribus repudiandae vero soluta odit beatae quo
      voluptate. Incidunt dolorum modi nisi odio quia doloremque officia tempora aperiam deleniti provident officiis,
      optio dolore voluptatibus, ad quo voluptatem sunt blanditiis suscipit. Eos voluptatibus, impedit a accusantium
      itaque magnam illo fugit ducimus alias iure distinctio dolores velit repellendus, quas nisi quibusdam, possimus
      quis. Quidem porro nemo adipisci debitis quas iure reiciendis fugit facilis magni, expedita libero odit et amet
      at. Temporibus nesciunt beatae odio atque hic, explicabo eligendi magnam iure vel odit, animi ducimus quae,
      molestias laboriosam numquam commodi illo cupiditate aspernatur. Commodi a, eaque quibusdam aliquid accusamus
      aliquam. Nisi accusantium possimus nobis deserunt minima, culpa explicabo, temporibus facilis ab, neque omnis!
      Consectetur ducimus sequi, ipsa voluptatem repudiandae quasi nulla suscipit nemo porro eaque fugit quibusdam,
      corrupti dolore eum ab est ad. Cupiditate eaque voluptate, quos dicta deserunt iusto nostrum, dolor vitae sapiente
      reprehenderit odio. Illo in dolores, eveniet iusto molestias eaque! Ea odio tempore delectus vitae ipsum animi
      fugiat mollitia hic expedita sed laboriosam quaerat ad ullam nulla molestias, nemo earum deleniti!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti magnam doloribus eaque amet consectetur
      nostrum neque fugit delectus odit porro aspernatur, error nemo, dignissimos recusandae libero possimus beatae
      nobis rerum! Assumenda eligendi excepturi consectetur qui minima earum. Sit qui aliquam veniam tenetur obcaecati
      iusto corrupti, molestias aut quibusdam non, consequatur neque doloribus repudiandae vero soluta odit beatae quo
      voluptate. Incidunt dolorum modi nisi odio quia doloremque officia tempora aperiam deleniti provident officiis,
      optio dolore voluptatibus, ad quo voluptatem sunt blanditiis suscipit. Eos voluptatibus, impedit a accusantium
      itaque magnam illo fugit ducimus alias iure distinctio dolores velit repellendus, quas nisi quibusdam, possimus
      quis. Quidem porro nemo adipisci debitis quas iure reiciendis fugit facilis magni, expedita libero odit et amet
      at. Temporibus nesciunt beatae odio atque hic, explicabo eligendi magnam iure vel odit, animi ducimus quae,
      molestias laboriosam numquam commodi illo cupiditate aspernatur. Commodi a, eaque quibusdam aliquid accusamus
      aliquam. Nisi accusantium possimus nobis deserunt minima, culpa explicabo, temporibus facilis ab, neque omnis!
      Consectetur ducimus sequi, ipsa voluptatem repudiandae quasi nulla suscipit nemo porro eaque fugit quibusdam,
      corrupti dolore eum ab est ad. Cupiditate eaque voluptate, quos dicta deserunt iusto nostrum, dolor vitae sapiente
      reprehenderit odio. Illo in dolores, eveniet iusto molestias eaque! Ea odio tempore delectus vitae ipsum animi
      fugiat mollitia hic expedita sed laboriosam quaerat ad ullam nulla molestias, nemo earum deleniti!</p>
  </div>
</div>
<!-- Это страница с заглушкой -->
